* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Ajusta para centralizar */
    align-items: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Garante que o conteúdo ocupe toda a altura da tela */
    box-sizing: border-box;
    padding-top: 100px;

}

/*Efeitos Texto no Header*/
.color-change {
    color: #fff; /* Cor branca */
    transition: color 0.3s ease-in-out;
}
.color-change:hover {
    color: #F94318; /* Cor desejada */
}

/* Fonte */
/* Classes para a fonte Agdasima */
.agdasima-regular {
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
}

.agdasima-bold {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*Header*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black; /* Adicione a cor de fundo para garantir que o conteúdo abaixo não seja visível através do cabeçalho */
    z-index: 1000; /* Garantir que o cabeçalho fique acima de outros conteúdos */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: #fff;
}

.logo-container {
    display: flex; /* Flexbox para alinhar horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    cursor: pointer; /* Mostra que o elemento é interativo */
}

.logo-img {
    width: 100px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    transition: transform 0.5s ease-in-out; /* Transição suave */
}

.logo-container:hover .logo-img {
    transform: scale(1.1) rotate(-10deg); /* Zoom + inclinação */
    animation: swing 0.5s ease-in-out; /* Animação de balanço */
}

@keyframes swing {
    0% { transform: scale(1.1) rotate(-10deg); }
    50% { transform: scale(1.1) rotate(10deg); }
    100% { transform: scale(1.1) rotate(-10deg); }
}


.logo-text {
    margin-left: 10px; /* Espaço entre a logo e o texto */
    font-size: 40px; /* Ajuste o tamanho da fonte */
    color: #f4f4f4; /* Cor do texto */
    font-family: 'Agdasima', sans-serif; 
    font-weight: 400;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    max-height: 200px; /* Ajuste conforme necessário */
    overflow-y: auto;
    white-space: nowrap;
    z-index: 1000; /* Certifica-se de que o dropdown aparece acima de outros elementos */
}

nav ul li:hover .dropdown {
    display: block;
}

nav ul li .dropdown li {
    display: block;
}

nav ul li .dropdown li a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
}

nav ul li a svg {
    margin-right: 5px; /* Ajuste o espaço entre o ícone e o texto */
}

nav ul li .dropdown li a:hover {
    background-color: #F94318; /* Altere para a cor desejada */
    color: #fff; /* Altere a cor do texto, se necessário */
}


.search-login {
    display: flex;
    align-items: center;
}

.search-login input {
    padding: 10px;
    margin-right: 15px;
    border: none;
    border-radius: 4px;
}

.search-login a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

.search-login .cart {
    background-color: #F94318;
    padding: 10px;
    border-radius: 4px;
}

/*Formulario*/

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    flex: 1;
}



.contact-form {
    width: 60%;
    margin-right: 20px;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group input {
    width: 48%;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input:focus, textarea:focus {
    border-color: #F94318; /* Cor ao focar */
    outline: none; /* Remove o contorno padrão */
}

textarea {
    resize: none;
    height: 100px;
}

.recaptcha {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #00970F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 100px;
    align-self: flex-end;
}

button:hover {
    background-color: #03aa13;
}

.contact-details {
    width: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 2px solid #ccc;
    max-width: 35%; /* Define uma largura máxima para os detalhes de contato */
    flex: 1; /* Faz os detalhes de contato ocuparem o espaço restante */
}

.contact-details h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.contact-details p {
    margin-bottom: 10px;
    font-size: 1rem;
}

/*Roda-Pé*/
.footer {
    width: 100%;
    position: relative; 
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.footer::before {
    content: '';
    position: absolute;
    top: -7px; /* Ajuste conforme necessário */
    left: 0;
    right: 0;
    height: 10px; /* Altura da parte laranja */
    background-color: #F94318; /* Fundo laranja */
    z-index: -1; /* Para que o pseudo-elemento fique atrás do conteúdo */
}



.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    min-width: 150px;
    margin: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section img {
    width: 50px;
    height: auto;
    margin: 5px;
}

.footer-section a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section .social-icons a {
    display: inline-block;
    margin: 0 5px;
}

/* Efeito */
.imagem-destacada {
    transition: transform 0.3s ease; /* Suaviza a transição */
}

.imagem-destacada:hover {
    transform: scale(1.2); /* Aumenta a imagem em 20% */
}

/*Estilização Dropdown Assunto*/
/* Estilo do container de input */
.input-group {
    margin-bottom: 15px;
}

/* Estilo do select (dropdown) */
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: white;
    color: #333;
}

/* Estilo do select ao focar */
select:focus {
    border-color: #F94318; /* Cor ao focar */
    outline: none; /* Remove o contorno padrão */
}